* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  background-color: #1f2024;
  color: white;
}

ul{
  font-size: 1.5rem;
  list-style: none;
}
li{
  margin: 1rem 0;
}

/* js styles */
li>button{
  margin-left: 1rem;
}
.done{
  text-decoration: line-through;
  opacity: .5;
}

